<div th:fragment="modal(entity, id, form)"
	th:id="${'modal-' + entity + '-' + id}" class="modal fade" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar Persona</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>

			<div class="modal-body p-0">
				<form th:replace="${form}"></form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm"
					data-bs-dismiss="modal">Close</button>
				<p>
					<input type="submit" value="Save Changes" class="btn btn-primary btn-sm" th:form="${entity + '-form-' + id}">
				</p>
			</div>
		</div>
	</div>
</div>
