<form id="bag-form" th:fragment="form" th:object="${bag}"
	th:action="@{/bagForm}" method="post" class="form-group">

	<input id="weight" field="*{weight}" type="number"
		placeholder="Weight (Kg)" step="0.1" name="weight"
		class="form-control border-0 shadow-none">

	<hr class="m-0" style="color: #82888f;">

	<select id="status" field="*{status}" title="Status"
		class="form-select border-0 shadow-none" name="status">
		<option disabled selected value="">Status</option>
		<option th:each="statusOption : ${statusList}"
			th:value="${statusOption.id}"
			th:text="${statusOption.name}"></option>
	</select>

	<hr class="m-0" style="color: #82888f;">

	<select id="place" field="*{place}" title="Place"
		class="form-select border-0 shadow-none" name="place">
		<option disabled selected value="">Place</option>
		<option th:each="placeOption : ${placeList}"
			th:value="${placeOption.id}"
			th:text="${placeOption.description}"></option>
	</select>

	<hr class="m-0" style="color: #82888f;">
</form>