<table class="table align-middle accordion-body">
	<thead>
		<tr>
			<th>#</th>
			<th>Weight (Kg)</th>
			<th>Status</th>
			<th>Place</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="bag : ${bags}">
			<td th:text="${bag.id"></td>
			<td th:text="${bag.weight}"></td>
			<td th:text="${bag.status.id}"></td>
			<td th:text="${bag.place.id}"></td>
			<td>
				<div class="btn-group">
					<button class="btn btn-sm btn-danger">
						<i class="bi bi-trash-fill"></i>
					</button>
					<button class="btn btn-sm btn-success">
						<i class="bi bi-pencil-square"></i>
					</button>2
				</div>
			</td>
		</tr>
	</tbody>
</table>