<button th:fragment="tab" class="nav-link active" id="nav-bag-tab"
	value="bag-form" data-bs-toggle="tab" data-bs-target="#nav-bag"
	type="button" role="tab" aria-controls="nav-bag" aria-selected="true">Bags</button>

<table th:fragment="table" class="table align-middle accordion-body">
	<thead>
		<tr>
			<th>#</th>
			<th>Weight (Kg)</th>
			<th>Status</th>
			<th>Place</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="bag : ${bagList}">
			<td th:text="${bag.id}"></td>
			<td th:text="${bag.weight}"></td>
			<td th:text="${bag.status.id}"></td>
			<td th:text="${bag.place.id}"></td>
			<td>
				<div class="btn-group">
					<a class="btn btn-sm btn-danger" th:href="@{/deleteBag/} + ${bag.id}">
						<i class="bi bi-trash-fill"></i>
					</a>
					<a class="btn btn-sm btn-success">
						<i class="bi bi-pencil-square"></i>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>