<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This Page list the coffee Bags">
    <meta name="author" content="Cafesua Enterprise">
    <meta name="keywords" content="coffee, bags, beans, crops, colombia">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>
<h1 th:text="${title}"></h1>
<form th:object="${place}" th:action="@{/createPlace}" method="post">
    <div class="form-group">
        <label for="placeDescription">Description</label>
        <input id="placeDescription" type="text" class="form-control" field="*{placeDescription}"
               name="placeDescription" placeholder="Input place description">
        <small id="placeDescriptionHelp" class="form-text text-muted">Restricciones</small>

        <br/>

        <label for="kindOfPlace">Kind of Place</label>
        <input id="kindOfPLace" type="number" class="form-control" field="*{kindofPlace}" name="kindofPlace"
               placeholder="Type the kindOfPlace id of the Place">
        <small id="kindOfPlaceHelp" class="form-text text-muted">Restricciones</small>

        <label for="bagCapacity">Bag Capacity</label>
        <input id="bagCapacity" type="number" class="form-control" field="*{bagCapacity}" name="bagCapacity"
               placeholder="Type bag capacity of the place">
        <small id="bagCapacityHelp" class="form-text text-muted">Restricciones</small>

    </div>
    <br/>
    <div class="form-label">
        <input type="submit" value="SAVE" class="btn-success"/>

    </div>
</form>

</body>
</html>