<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This Page list the coffee Bags">
    <meta name="author" content="Cafesua Enterprise">
    <meta name="keywords" content="coffee, bags, beans, crops, colombia">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>
<h1 th:text="${title}"></h1>
<form th:object="${bag}" th:action="@{/createBag}" method="post">
    <div class="form-group">
        <label for="actualWeight">Weight of the bag</label>
        <input id="actualWeight" type="number" class="form-control" field="*{actualWeight}" name="actualWeight"
               placeholder="Input de weight of the bag">
        <small id="actualweighthelp" class="form-text text-muted">Restricciones</small>

        <br/>

        <label for="status">status of the bag</label>
        <input id="status" type="number" class="form-control" field="*{status}" name="status"
               placeholder="Input de id of the status">
        <small id="statushelp" class="form-text text-muted">Restricciones</small>

        <label for="place">place of the bag</label>
        <input id="place" type="number" class="form-control" field="*{place}" name="place"
               placeholder="Input de id of the place">
        <small id="placehelp" class="form-text text-muted">Restricciones</small>

    </div>
    <br/>
    <div class="form-label">
        <input type="submit" value="SAVE" class="btn-success"/>
    </div>
</form>

</body>
</html>