<button th:fragment="tab" class="nav-link" id="nav-kindOfPlace-tab"
        value="kindOfPlace-form" data-bs-toggle="tab" data-bs-target="#nav-kindOfPlace"
        type="button" role="tab" aria-controls="nav-kindOfPlace" aria-selected="false">KindOfPlaces
</button>

<table th:fragment="table" class="table align-middle accordion-body">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kindOfPlace : ${kindOfPlaceList}">
        <td th:text="${kindOfPlace.id}"></td>
        <td th:text="${kindOfPlace.name}"></td>
        <td th:text="${kindOfPlace.description}"></td>
        <td>
            <div class="btn-group">
                <a class="btn btn-sm btn-danger">
                    <i class="bi bi-trash-fill"></i>
                </a>
                <a class="btn btn-sm btn-success">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>