<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This Page list the coffee Bags">
    <meta name="author" content="Cafesua Enterprise">
    <meta name="keywords" content="coffee, bags, beans, crops, colombia">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{css/jquery-ui.min.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>
<div class="container">
    <h1 th:text="${title}"></h1>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="status:${status}">
            <td th:text="${status.idStatus}"></td>
            <td th:text="${status.statusName}"></td>
            <td th:text="${status.statusDescription}"></td>
            <td><a class="btn btn-danger btn-xs" th:href="@{/deleteStatus/}  +  ${status.idStatus}" th:text="'delete'" onclick="return confirm('Are you sure about that?');"></a> </td>
        </tr>
        </tbody>
    </table>
    <div class="btn">
        <a href="/createStatus" class="btn-link">Create Status</a>
    </div>
</div>
</body>
</html>