<button th:fragment="tab" class="nav-link" id="nav-place-tab"
	value="place-form" data-bs-toggle="tab" data-bs-target="#nav-place"
	type="button" role="tab" aria-controls="nav-place"
	aria-selected="false">Places</button>

<table th:fragment="table" class="table align-middle accordion-body">
	<thead>
		<tr>
			<th>#</th>
			<th>Description</th>
			<th>Bag Capacity</th>
			<th>Kind Of Place</th>
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="place : ${places}">
			<td th:text="${place.idPlace}"></td>
			<td th:text="${place.placeDescription}"></td>
			<td th:text="${place.bagCapacity}"></td>
			<td th:text="${place.kindOfPlace.idKindOfPlace}"></td>
			<td>
				<div class="btn-group">
					<button class="btn btn-sm btn-danger">
						<i class="bi bi-trash-fill"></i>
					</button>
					<button class="btn btn-sm btn-success">
						<i class="bi bi-pencil-square"></i>
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>