<form th:id="${id}" th:fragment="form(id, action, name, description)"
	th:action="@{${action}}" th:object="${status}" 
	method="post" class="form-group">

	<input id="name" field="*{name}" type="text" placeholder="Name"
		th:value="${name != null} ? ${name} : ''" name="name"
		class="form-control border-0 shadow-none" required>

	<hr class="m-0" style="color: #82888f;">

	<input id="description" field="*{description}" type="text"
		placeholder="Description" name="description"
		th:value="${description != null} ? ${description} : ''"
		class="form-control border-0 shadow-none" required>
</form>

<table th:fragment="table" class="table align-middle accordion-body">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Description</th>
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="status : ${statusList}">
			<td th:text="${status.id}"></td>
			<td th:text="${status.name}"></td>
			<td th:text="${status.description}"></td>
			<td>
				<div class="btn-group">
					<a class="btn btn-sm btn-danger" th:href="@{/deleteStatus/} + ${status.id}">
						<i class="bi bi-trash-fill"></i>
					</a>
					<button type="button" data-bs-toggle="modal"
						th:data-bs-target="${'#modal-status-' + status.id}"
						class="btn btn-sm btn-success">
						<i class="bi bi-pencil-square"></i>
					</button>
				</div>
			</td>

			<div
				th:replace="/fragments/modalTemplate :: 
				modal(
					entity='status', 
					id=${status.id}, 
					form=~{statusTemplate :: form(
						id=${'form-status-' + status.id}, 
						action=${'statusTemplate/' + status.id}, 
						name=${status.name},
						description=${status.description})}, 
					formId=${'form-status-' + status.id})"></div>
		</tr>
	</tbody>
</table>