<button th:fragment="tab" class="nav-link" id="nav-status-tab"
	value="status-form" data-bs-toggle="tab" data-bs-target="#nav-status"
	type="button" role="tab" aria-controls="nav-status"
	aria-selected="false">Status</button>

<table th:fragment="table" class="table align-middle accordion-body">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Description</th>
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="status : ${statusList}">
			<td th:text="${status.id}"></td>
			<td th:text="${status.name}"></td>
			<td th:text="${status.description}"></td>
			<td>
				<div class="btn-group">
					<button class="btn btn-sm btn-danger">
						<i class="bi bi-trash-fill"></i>
					</button>
					<button class="btn btn-sm btn-success">
						<i class="bi bi-pencil-square"></i>
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>